Repository e2nIEE/pandapower, pull requests merged in 2020-12, with the labels that each got.

#1029 Update powerflow.py - fix the behavior when there are only reference buses in the grid or there are no branches
  pandapower/powerflow.py
  pandapower/test/loadflow/test_runpp.py
Labels: powerflow

#976 bugfix islands calculated with numba
  pandapower/pf/makeYbus_numba.py
Labels: bug, powerflow

#1060 Add **kwargs to run powermodels functions so that they can be used with timeseries
  pandapower/runpm.py
  pandapower/test/opf/test_powermodels.py
Labels: PowerModels, timeseries

#1066 Update io_utils.py
  pandapower/io_utils.py
Labels: bug, fileIO
