Repository e2nIEE/pandapower, pull requests merged in 2021-06, with the labels that each got.

#1251 added tutorial for timeseries simulation with optimal power flow
  tutorials/timeseries_opf.ipynb
Labels: timeseries

#1253 bugfix in tutorial "building a controller"
  tutorials/building_a_controller.ipynb
Labels: bug, controller, docs/tutorials

#1255 const_control.py: set order and level to -1 as default
  CHANGELOG.rst
  pandapower/control/controller/const_control.py
Labels: controller

#1257 const_control.py: write_to_net during time_step
  CHANGELOG.rst
  doc/control/controller.rst
  pandapower/control/controller/const_control.py
Labels: controller, timeseries

#1260 Changed disconnected 0-seq trafo impedance to a large value to improve the convergence and multiple function and test update in SC calculation
  pandapower/build_branch.py
  pandapower/build_bus.py
  pandapower/pd2ppc_zero.py
  pandapower/shortcircuit/__init__.py
  pandapower/shortcircuit/calc_sc.py
  pandapower/shortcircuit/ppc_conversion.py
  pandapower/shortcircuit/toolbox.py
  pandapower/test/shortcircuit/test_1ph.py
  pandapower/test/shortcircuit/test_gen.py
  pandapower/test/shortcircuit/test_iec60909_4.py
  pandapower/test/shortcircuit/test_motor.py
Labels: shortcircuit

#1264 bugfix simple_plotly for trafo3w
  pandapower/plotting/plotly/simple_plotly.py
Labels: bug, plotting

#1254 Q naming
  CHANGELOG.rst
  doc/about/p_q_reference_system.png
  doc/about/units.rst
  pandapower/create.py
  pandapower/networks/dickert_lv_networks.py
  pandapower/test/api/test_toolbox.py
  pandapower/toolbox.py
Labels: docs/tutorials

#1266 remove fiona.crs.from_epsg -> deprecation warning
  pandapower/io_utils.py
  pandapower/plotting/geo.py
  pandapower/test/api/test_file_io.py
Labels: fileIO, plotting

#1261 added tutorial for reference system convention
  tutorials/pics/reference_system.png
  tutorials/reference_system_convention.ipynb
Labels: docs/tutorials, powerflow
