Repository e2nIEE/pandapower, pull requests merged in 2022-02, with the labels that each got.

#1468 from_mpc.py: keep the extra data in net._options instead
  pandapower/converter/matpower/from_mpc.py
  pandapower/converter/pypower/from_ppc.py
Labels: compatibility, converter

#1455 lightsim2grid: changed checks for lightsim2grid
  .github/workflows/github_test_action.yml
  CHANGELOG.rst
  doc/powerflow/ac.rst
  pandapower/auxiliary.py
  pandapower/pf/create_jacobian.py
  pandapower/pf/create_jacobian_numba.py
  pandapower/pf/makeYbus_numba.py
  pandapower/pf/run_newton_raphson_pf.py
  pandapower/pf/runpp_3ph.py
  pandapower/pypower/makeYbus.py
  pandapower/pypower/newtonpf.py
  pandapower/run.py
  pandapower/test/api/test_diagnostic.py
  pandapower/test/api/test_toolbox.py
  pandapower/test/converter/test_from_ppc.py
  pandapower/test/loadflow/test_recycle.py
  pandapower/test/loadflow/test_runpp.py
  setup.py
Labels: powerflow, compatibility, dependencies

#1473 output_writer: enable saving from res_line_3ph etc. tables
  pandapower/timeseries/output_writer.py
Labels: 3ph powerflow, timeseries, dirty hack

#1471 Add python 3.10
  .github/workflows/github_test_action.yml
  CHANGELOG.rst
  setup.py
Labels: compatibility, CI

#1501 runpp3ph: raise error for unsupported vector group in runpp_3ph
  pandapower/pd2ppc_zero.py
Labels: 3ph powerflow

#1507 test for time series simulation:
  pandapower/test/timeseries/test_timeseries.py
  pandapower/timeseries/run_time_series.py
Labels: timeseries

#1511 Fix/plotly legend
  CHANGELOG.rst
  pandapower/plotting/plotly/simple_plotly.py
  pandapower/plotting/plotly/traces.py
Labels: plotting
