Repository e2nIEE/pandapower, pull requests merged in 2022-05, with the labels that each got.

#1446 Updated the functionality of short-circuit calculation
  doc/shortcircuit/voltage_source.rst
  pandapower/build_branch.py
  pandapower/create.py
  pandapower/pd2ppc.py
  pandapower/pd2ppc_zero.py
  pandapower/shortcircuit/calc_sc.py
  pandapower/shortcircuit/currents.py
  pandapower/shortcircuit/idx_brch.py
  pandapower/shortcircuit/kappa.py
  pandapower/shortcircuit/ppc_conversion.py
  pandapower/shortcircuit/results.py
  pandapower/test/converter/test_from_powerfactory_3ph.py
  pandapower/test/loadflow/test_runpp_3ph.py
  pandapower/test/shortcircuit/test_1ph.py
  pandapower/test/shortcircuit/test_all_currents.py
  pandapower/test/shortcircuit/test_gen.py
  pandapower/test/shortcircuit/test_iec60909_4.py
  pandapower/test/shortcircuit/test_impedance.py
  pandapower/test/shortcircuit/test_min_branch_results.py
  pandapower/test/shortcircuit/test_motor.py
  pandapower/test/shortcircuit/test_sc_multi_bus.py
  pandapower/test/shortcircuit/test_sc_single_bus.py
  pandapower/test/shortcircuit/test_sgen.py
  pandapower/test/shortcircuit/test_trafo3w.py
  pandapower/toolbox.py
  tutorials/sc_1ph_vector_group_trafo3w.ipynb
  tutorials/sc_power_station_unit.ipynb
  tutorials/sc_wind_power_station_units.ipynb
  tutorials/shortcircuit_renewables.ipynb
Labels: shortcircuit

#1585 add the key "OPF_converged" in create.py
  pandapower/create.py
Labels: bug

#1586 Update converter.rst
  doc/converter.rst
Labels: docs/tutorials

#1594 Changes in powerfactory converters for pandapower logger
  pandapower/converter/powerfactory/gui.py
  pandapower/converter/powerfactory/logger_setup.py
  pandapower/converter/powerfactory/main_pf.py
  pandapower/converter/powerfactory/pf_export_functions.py
  pandapower/converter/powerfactory/pp_import_functions.py
  pandapower/converter/powerfactory/validate.py
Labels: converter

#1587 little change in simple_plotly
  pandapower/plotting/plotly/simple_plotly.py
  pandapower/plotting/plotly/traces.py
  pandapower/test/plotting/test_simple_plotly.py
Labels: plotting
