Repository e2nIEE/pandapower, pull requests merged in 2022-12, with the labels that each got.

#1767 some improvements for grid equivalents
  pandapower/grid_equivalents/get_equivalent.py
  pandapower/grid_equivalents/rei_generation.py
  pandapower/test/grid_equivalents/test_get_equivalent.py
  pandapower/test/grid_equivalents/test_grid_equivalents_auxiliary.py
  pandapower/toolbox.py
Labels: grid_equivalents

#1729 add an example for timeseries with tdpf
  tutorials/temperature_dependent_power_flow_timeseries.ipynb
Labels: docs/tutorials, timeseries

#1788 Fix/false reference in toolbox
  pandapower/toolbox.py
Labels: bug
