Repository e2nIEE/pandapower, pull requests merged in 2022-08, with the labels that each got.

#1661 order columns in jsons
  pandapower/networks/IEEE_European_LV_Off_Peak_1.json
  pandapower/networks/IEEE_European_LV_Off_Peak_1440.json
  pandapower/networks/IEEE_European_LV_On_Peak_566.json
  pandapower/networks/mv_oberrhein.json
  pandapower/networks/mv_oberrhein_substations.json
  pandapower/networks/power_system_test_case_jsons/GBnetwork.json
  pandapower/networks/power_system_test_case_jsons/GBreducednetwork.json
  pandapower/networks/power_system_test_case_jsons/case118.json
  pandapower/networks/power_system_test_case_jsons/case11_iwamoto.json
  pandapower/networks/power_system_test_case_jsons/case1354pegase.json
  pandapower/networks/power_system_test_case_jsons/case14.json
  pandapower/networks/power_system_test_case_jsons/case145.json
  pandapower/networks/power_system_test_case_jsons/case1888rte.json
  pandapower/networks/power_system_test_case_jsons/case24_ieee_rts.json
  pandapower/networks/power_system_test_case_jsons/case2848rte.json
  pandapower/networks/power_system_test_case_jsons/case2869pegase.json
  pandapower/networks/power_system_test_case_jsons/case30.json
  pandapower/networks/power_system_test_case_jsons/case300.json
  pandapower/networks/power_system_test_case_jsons/case3120sp.json
  pandapower/networks/power_system_test_case_jsons/case33bw.json
  pandapower/networks/power_system_test_case_jsons/case39.json
  pandapower/networks/power_system_test_case_jsons/case4gs.json
  pandapower/networks/power_system_test_case_jsons/case5.json
  pandapower/networks/power_system_test_case_jsons/case57.json
  pandapower/networks/power_system_test_case_jsons/case5_demo_gridcal.json
  pandapower/networks/power_system_test_case_jsons/case6470rte.json
  pandapower/networks/power_system_test_case_jsons/case6495rte.json
  pandapower/networks/power_system_test_case_jsons/case6515rte.json
  pandapower/networks/power_system_test_case_jsons/case6ww.json
  pandapower/networks/power_system_test_case_jsons/case89pegase.json
  pandapower/networks/power_system_test_case_jsons/case9.json
  pandapower/networks/power_system_test_case_jsons/case9241pegase.json
  pandapower/networks/power_system_test_case_jsons/case_ieee30.json
  pandapower/networks/power_system_test_case_jsons/case_illinois200.json
  pandapower/networks/power_system_test_case_jsons/iceland.json
  setup.py
Labels: networks, maintenance

#1636 added PostgreSQL I/O
  .github/workflows/github_test_action.yml
  .gitignore
  CHANGELOG.rst
  doc/file_io.rst
  pandapower/__init__.py
  pandapower/file_io.py
  pandapower/io_utils.py
  pandapower/sql_io.py
  pandapower/test/api/test_file_io.py
  pandapower/test/api/test_sql_io.py
  setup.py
Labels: fileIO

#1667 grid equivalents: some small improvements
  pandapower/grid_equivalents/auxiliary.py
  pandapower/grid_equivalents/get_equivalent.py
  pandapower/grid_equivalents/rei_generation.py
Labels: grid_equivalents

#1666 add dcline collections, also in simple_plot
  CHANGELOG.rst
  pandapower/plotting/collections.py
  pandapower/plotting/simple_plot.py
Labels: plotting

#1662 json io generalization
  CHANGELOG.rst
  pandapower/file_io.py
  pandapower/io_utils.py
  pandapower/test/api/test_file_io.py
Labels: fileIO

#1668 Feature/grid equivalents improvements
  pandapower/grid_equivalents/__init__.py
  pandapower/grid_equivalents/auxiliary.py
  pandapower/grid_equivalents/get_equivalent.py
  pandapower/grid_equivalents/rei_generation.py
  pandapower/grid_equivalents/toolbox.py
  pandapower/grid_equivalents/ward_generation.py
  pandapower/test/grid_equivalents/test_get_equivalent.py
  pandapower/test/grid_equivalents/test_get_equivalent_networks.py
  pandapower/test/grid_equivalents/test_grid_equivalents_auxiliary.py
  pandapower/test/grid_equivalents/test_grid_equivalents_toolbox.py
Labels: grid_equivalents

#1670 small change in json_io: more robust to use dict notation than attrib…
  pandapower/file_io.py
  pandapower/test/api/test_file_io.py
Labels: bug, fileIO

#1674 Tdpf results r theta
  CHANGELOG.rst
  doc/powerflow/ac.rst
  pandapower/auxiliary.py
  pandapower/build_branch.py
  pandapower/pf/create_jacobian_tdpf.py
  pandapower/pf/run_newton_raphson_pf.py
  pandapower/pypower/idx_brch_tdpf.py
  pandapower/pypower/newtonpf.py
  pandapower/results_branch.py
  pandapower/run.py
  pandapower/test/loadflow/test_tdpf.py
  tutorials/temperature_dependent_power_flow.ipynb
Labels: powerflow

#1675 File I/O: serializable JSON objects in <to/from>_dict_of_dfs; include…
  CHANGELOG.rst
  pandapower/io_utils.py
  pandapower/sql_io.py
  pandapower/test/api/test_file_io.py
  pandapower/test/api/test_sql_io.py
Labels: fileIO

#1685 add sn_mva consideration to from_ppc()
  pandapower/converter/pypower/from_ppc.py
Labels: converter

#1688 revise grid equivalents as previously pushed in PR 1678
  pandapower/grid_equivalents/__init__.py
  pandapower/grid_equivalents/auxiliary.py
  pandapower/grid_equivalents/get_equivalent.py
  pandapower/grid_equivalents/rei_generation.py
  pandapower/grid_equivalents/toolbox.py
  pandapower/grid_equivalents/ward_generation.py
  pandapower/test/grid_equivalents/test_get_equivalent.py
  pandapower/test/grid_equivalents/test_get_equivalent_networks.py
  pandapower/test/grid_equivalents/test_grid_equivalents_toolbox.py
  pandapower/toolbox.py
  tutorials/grid_equivalents.ipynb
  tutorials/grid_equivalents_workarounds.ipynb
Labels: grid_equivalents
