Repository e2nIEE/pandapower, pull requests merged in 2023-11, with the labels that each got.

#2163 add parameter fuse_bus_column to merge_internal_net_and_equivalent_external_net()
  CHANGELOG.rst
  pandapower/grid_equivalents/get_equivalent.py
  pandapower/grid_equivalents/rei_generation.py
  pandapower/test/grid_equivalents/test_get_equivalent.py
  pandapower/toolbox/grid_modification.py
Labels: grid_equivalents

#2171 Revert "Update setup.py"
  setup.py
Labels: dependencies

#2173 fix in from_mpc converter
  CHANGELOG.rst
  pandapower/converter/matpower/from_mpc.py
Labels: bug, converter
