Repository e2nIEE/pandapower, pull requests merged in 2023-09, with the labels that each got.

#2104 Fuse
  doc/protection.rst
  doc/protection/fuse.rst
  doc/protection/oc_relay.rst
  pandapower/control/util/characteristic.py
  pandapower/convert_format.py
  pandapower/create.py
  pandapower/io_utils.py
  pandapower/protection/basic_protection_device.py
  pandapower/protection/protection_devices/__init__.py
  pandapower/protection/protection_devices/fuse.py
  pandapower/protection/protection_devices/ocrelay.py
  pandapower/protection/run_protection.py
  pandapower/protection/utility_functions.py
  pandapower/std_types.py
  pandapower/test/api/test_auxiliary.py
  pandapower/test/converter/test_from_cim.py
  pandapower/test/protection/test_fuse.py
  pandapower/test/protection/test_oc_relay.py
  tutorials/create_simple.ipynb
  tutorials/pics/example_network_fuse_1.png
  tutorials/pics/example_network_fuse_2.png
  tutorials/protection/fuse.ipynb
  tutorials/protection/oc_relay.ipynb
Labels: enhancement, protection

#2103 Plotting: Add clim parameter to create_bus_collection
  pandapower/plotting/collections.py
Labels: plotting

#2120 fix bug: if line has two identical coords just return these
  CHANGELOG.rst
  pandapower/converter/powerfactory/pf_export_functions.py
  pandapower/converter/powerfactory/pp_import_functions.py
Labels: bug

#2122 raise importerror if geopy or pyproj is not installed for better
  CHANGELOG.rst
  pandapower/plotting/plotly/mapbox_plot.py
Labels: bug, plotting

#2108 refactored AUTHORS
  AUTHORS
Labels: docs/tutorials
