Repository e2nIEE/pandapower, pull requests merged in 2023-08, with the labels that each got.

#1998 Additional patches for plotter
  CHANGELOG.rst
  pandapower/plotting/collections.py
  pandapower/plotting/patch_makers.py
  pandapower/plotting/plotting_toolbox.py
  pandapower/plotting/simple_plot.py
  tutorials/distributed_slack.ipynb
  tutorials/internal_datastructure.ipynb
  tutorials/state_estimation.ipynb
Labels: plotting

#2099 Facts statcom
  doc/elements.rst
  doc/elements/ssc.png
  doc/elements/ssc.rst
  doc/elements/ssc_par.csv
  doc/elements/ssc_res.csv
  doc/elements/svc.rst
  doc/elements/tcsc.rst
  pandapower/auxiliary.py
  pandapower/build_bus.py
  pandapower/create.py
  pandapower/estimation/results.py
  pandapower/pd2ppc.py
  pandapower/pd2ppc_zero.py
  pandapower/pf/create_jacobian_facts.py
  pandapower/pf/makeYbus_facts.py
  pandapower/pf/pfsoln_numba.py
  pandapower/pf/ppci_variables.py
  pandapower/pf/run_bfswpf.py
  pandapower/pf/run_dc_pf.py
  pandapower/pf/run_newton_raphson_pf.py
  pandapower/pf/runpf_pypower.py
  pandapower/pf/runpp_3ph.py
  pandapower/powerflow.py
  pandapower/pypower/idx_ssc.py
  pandapower/pypower/idx_svc.py
  pandapower/pypower/idx_tcsc.py
  pandapower/pypower/newtonpf.py
  pandapower/pypower/pfsoln.py
  pandapower/results.py
  pandapower/results_bus.py
  pandapower/test/consistency_checks.py
  pandapower/test/loadflow/test_facts.py
  pandapower/test/loadflow/test_runpp.py
  pandapower/timeseries/ts_runpp.py
  tutorials/FACTS.ipynb
Labels: powerflow, enhancement

#2115 small fix: export all buses
  CHANGELOG.rst
  pandapower/converter/powerfactory/pf_export_functions.py
Labels: converter
