Repository e2nIEE/pandapower, pull requests merged in 2023-02, with the labels that each got.

#1842 drop Python 3.7 and add 3.11
  .github/workflows/github_test_action.yml
  CHANGELOG.rst
  pandapower/grid_equivalents/rei_generation.py
  setup.py
Labels: compatibility

#1852 several sizes + color for scale legend in weighted_marker_trace
  CHANGELOG.rst
  pandapower/plotting/plotly/simple_plotly.py
  pandapower/plotting/plotly/traces.py
Labels: plotting

#1838 documentation of DeprecationWarning process
  CHANGELOG.rst
  CONTRIBUTING.rst
  doc/about.rst
  doc/about/contributing.rst
  doc/about/deprecating.rst
  doc/opf/known_problems.rst
  doc/opf/pandamodels.rst
  doc/opf/pypower_run.rst
  doc/pics/deprecating/deprecating.drawio
  doc/pics/deprecating/deprecating.svg
  pandapower/runpm.py
Labels: docs/tutorials, maintenance

#1859 avoid pandas FutureWarnings
  pandapower/grid_equivalents/toolbox.py
  pandapower/toolbox.py
Labels: compatibility, maintenance

#1855 Speedup rundcpp
  CHANGELOG.rst
  pandapower/auxiliary.py
  pandapower/pf/run_dc_pf.py
  pandapower/pf/run_newton_raphson_pf.py
  pandapower/pf/runpf_pypower.py
  pandapower/powerflow.py
  pandapower/pypower/makeBdc.py
  pandapower/pypower/makePTDF.py
  pandapower/pypower/opf_setup.py
  pandapower/run.py
  pandapower/test/loadflow/test_recycle.py
  pandapower/test/timeseries/test_timeseries_recycle.py
  pandapower/timeseries/output_writer.py
  pandapower/timeseries/run_time_series.py
Labels: powerflow, timeseries

#1844 improved converage grid_equivalent
  pandapower/converter/powerfactory/export_pfd_to_pp.py
  pandapower/grid_equivalents/auxiliary.py
  pandapower/grid_equivalents/get_equivalent.py
  pandapower/grid_equivalents/rei_generation.py
  pandapower/grid_equivalents/ward_generation.py
  pandapower/test/grid_equivalents/test_get_equivalent.py
  pandapower/test/grid_equivalents/test_grid_equivalents_auxiliary.py
  pandapower/test/opf/test_pandamodels_runpm.py
  pandapower/toolbox.py
Labels: grid_equivalents
