Repository e2nIEE/pandapower, pull requests merged in 2023-04, with the labels that each got.

#1924 Fix/xfailing test estimation wls
  pandapower/estimation/ppc_conversion.py
  pandapower/test/estimation/test_opt_lp_estimation.py
Labels: state estimation, maintenance

#1989 Bugfixes for 2_12_1
  CHANGELOG.rst
  doc/conf.py
  doc/converter/powerfactory.rst
  doc/elements.rst
  doc/elements/asymmetric_load.rst
  doc/elements/asymmetric_sgen.rst
  doc/elements/empty_network.rst
  doc/elements/ext_grid.rst
  doc/elements/gen.rst
  doc/elements/group.rst
  doc/elements/motor.rst
  doc/elements/shunt.rst
  doc/elements/storage.rst
  doc/elements/svc.rst
  doc/elements/switch.rst
  doc/elements/tcsc.rst
  doc/elements/trafo3w.rst
  doc/elements/ward.rst
  doc/elements/xward.rst
  doc/gridequivalent/gridequivalent_overview.rst
  doc/opf/pandamodels.rst
  doc/powerflow/ac.rst
  doc/powerflow/dc.rst
  doc/toolbox.rst
  pandapower/__init__.py
  pandapower/_version.py
  pandapower/auxiliary.py
  pandapower/control/controller/characteristic_control.py
  pandapower/control/util/characteristic.py
  pandapower/converter/pypower/from_ppc.py
  pandapower/converter/pypower/to_ppc.py
  pandapower/create.py
  pandapower/groups.py
  pandapower/plotting/collections.py
  pandapower/protection/utility_functions.py
  pandapower/pypower/opf_consfcn.py
  pandapower/pypower/opf_hessfcn.py
  pandapower/pypower/totcost.py
  pandapower/runpm.py
  pandapower/test/api/test_create.py
  pandapower/test/api/test_group.py
  pandapower/test/loadflow/test_facts.py
  pandapower/test/protection/test_oc_relay_model.py
  pandapower/test/test_files/old_versions/example_2.12.1.json
  pandapower/timeseries/data_sources/frame_data.py
  pandapower/toolbox/comparison.py
  pandapower/toolbox/grid_modification.py
  setup.py
Labels: bug, maintenance

#1987 fix #1918
  CHANGELOG.rst
  pandapower/networks/cigre_networks.py
Labels: bug, networks
