Repository e2nIEE/pandapower, pull requests merged in 2024-04, with the labels that each got.

#2129 deprecate to_json(store_index_names)
  pandapower/file_io.py
Labels: fileIO

#2252 fix some warnings, make sure pytest raises any warnings as errors in …
  .github/workflows/github_test_action.yml
  CHANGELOG.rst
  pandapower/contingency/contingency.py
  pandapower/control/run_control.py
  pandapower/converter/powerfactory/pp_import_functions.py
  pandapower/grid_equivalents/rei_generation.py
  pandapower/pf/create_jacobian_tdpf.py
  pandapower/pypower/makeYbus.py
  pandapower/test/api/input_files/test_control.py
  pandapower/test/api/test_file_io.py
  pandapower/test/loadflow/test_runpp.py
  pandapower/timeseries/output_writer.py
  pandapower/toolbox/grid_modification.py
  setup.py
Labels: maintenance

#2256 some warnings addressed ("~")
  pandapower/contingency/contingency.py
  pandapower/converter/powerfactory/pp_import_functions.py
  pandapower/io_utils.py
Labels: maintenance

#2260 add gen that are slack to roots for results plotting, also only consi…
  CHANGELOG.rst
  pandapower/plotting/powerflow_results.py
Labels: plotting

#2266 bugfix performance drag due to FACTS Ybus init with np.zeros instead …
  CHANGELOG.rst
  pandapower/pf/makeYbus_facts.py
Labels: bug

#2265 allow creation of lines with sections using averaged impedance values…
  CHANGELOG.rst
  pandapower/converter/powerfactory/export_pfd_to_pp.py
  pandapower/converter/powerfactory/gui.py
  pandapower/converter/powerfactory/main_pf.py
  pandapower/converter/powerfactory/pp_import_functions.py
  pandapower/toolbox/grid_modification.py
Labels: converter

#2259 extend plotly function: add zoomlevel and hvdc lines, more parameters
  CHANGELOG.rst
  pandapower/plotting/plotly/simple_plotly.py
  pandapower/plotting/plotly/traces.py
Labels: plotting

#2276 dataframes_equal adapted to properly compare geojson data
  .github/workflows/github_test_action.yml
  CHANGELOG.rst
  README.rst
  pandapower/io_utils.py
  pandapower/networks/ieee_europen_lv_asymmetric.py
  pandapower/plotting/collections.py
  pandapower/toolbox/comparison.py
Labels: bug, plotting
